<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="row">
      <div class="col-md-12 espacamento">
        <form [formGroup]="login" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <input  type="email" class="form-control" id="exampleInputEmail1" placeholder="login"  formControlName="login">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha" formControlName="senha">
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!login.valid" style="margin:20px" >
            Entrar
          </button>
        </form>
      </div>
      <!-- Remind Passowrd -->
    </div>
  </div>
</div>
