<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile espaco">
        <h1 class="text-light"><a href="index.html">TAREFAS-APP</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a [routerLink]="['./cadastro-usuario']"><i class="bx bx-user-plus"></i> <span>Cadastro de Usuários</span></a></li>
          <li class="active"><a [routerLink]="['./consulta-tarefas']"><i class="bx bx-task"></i> <span>Tarefas</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->
